@import './Reusable.css';
@import '~react-responsive-carousel/lib/styles/carousel.min.css';

.JMM-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

/* for covid */
.slider-container {
  width: 100%;
  height: 100%;

  /* Add this */
  position: fixed;
  top: 0;
  left: 0;
}
