@import './Reusable.css';

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.2) !important;
}

.carousel-inner > .item > img {
  margin: auto;
}

.imgCarousel {
  object-fit: contain;
  background-color: black;
}

@media only screen and (min-width: 769px) {
  .imgCarousel {
    height: 65vh;
    object-fit: contain;
    background-color: black;
  }
}
