@import '~antd/dist/antd.css';
@import '~react-responsive-carousel/lib/styles/carousel.min.css';
@import '~bootstrap/dist/css/bootstrap.css';

.App {
  text-align: center;
}

.FullScreen {
  display: flex;
  height: 100%;
  width: 100%;
}

.column {
  flex-direction: column;
}

.justifyAlignCenter {
  justify-content: center;
  align-items: center;
}

.JMM-logo {
  height: 20vmin;
}

.stickyHeader {
  width: 100%;
  position: sticky;
  z-index: 150;
  top: 0px;
}

.displayFlex {
  display: flex;
}

.marginTop10 {
  margin-top: 10px;
}

.marginTop20 {
  margin-top: 20px;
}

.justifyRowBetween {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bolderFonts {
  font-weight: bolder;
}

.alignColumnStart {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.successColor {
  color: #00ff99;
}

.width100 {
  width: 100%;
}

p {
  font-family: 'Lucida Bright', Georgia, serif;
}

h4 {
  font-family: 'Lucida Bright', Georgia, serif;
}

h3 {
  font-family: 'Calisto MT', 'Bookman Old Style', Bookman, 'Goudy Old Style',
    Garamond, 'Hoefler Text', 'Bitstream Charter', Georgia, serif;
}

h2 {
  font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
}

.marginBottom0 {
  margin-bottom: 0px;
}

.marginLeft10 {
  margin-left: 10px;
}

.colorWhite {
  color: white;
}

.colorBlack {
  color: black;
}

.blackOverlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.alignFlexEnd {
  align-items: flex-end;
}
