@import '~antd/dist/antd.css';
@import '~react-responsive-carousel/lib/styles/carousel.min.css';

.App {
  text-align: center;
}

.FullScreen {
  display: flex;
  height: 100%;
  width: 100%;
}

.justifyAlignCenter {
  justify-content: center;
  align-items: center;
}

.JMM-logo {
  height: 20vmin;
}

.displayFlex {
  display: flex;
}

.marginTop10 {
  margin-top: 10px;
}

.justifyRowBetween {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bolderFonts {
  font-weight: bolder;
}

.alignColumnStart {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.successColor {
  color: #00ff99;
}

.width100 {
  width: 100%;
}

p {
  font-family: 'Lucida Bright', Georgia, serif;
}

h3 {
  font-family: 'Calisto MT', 'Bookman Old Style', Bookman, 'Goudy Old Style',
    Garamond, 'Hoefler Text', 'Bitstream Charter', Georgia, serif;
}

h2 {
  font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
}

.marginBottom0 {
  margin-bottom: 0px;
}
